.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  border: 5px solid red;
}

* {
text-align: center;
font-family: Arial, sans-serif;
}

.button {
        background-color: #ffffff;
        border: none;
        color: black;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
      }

.button:hover {
  background-color: grey;
}

.secretbutton {
         background: #A9A9A9;
         border: none;
         font-size: 8px;
         cursor: pointer;
     }
