body {
    background-color: black;
}

.imagesub {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1a1a;
    width: 400px;
    padding: 10px;

}

* {
    color: white;
    font-family: 'Fredoka', sans-serif;
}

.nameform {
    width: 250px;
    border: 2px solid red;
    color: black;
}

.imageform {
    width: min-content;
    border: 2px solid red;
}

.submitbutton {
    color: white;
    background-color: black;
    border: 2px solid red;
    cursor: pointer;
}
